scripts
Ga0399893*
cromwell-executions
cromwell-workflow-logs
log
Jeffs
Junk
convert_*
log
subs.zip
splits
marcels_data
marcels_code
replace.sh
run.sh
GGa0394140_proteins.faa
Ga0394681.fasta
cromwell_shifter.conf
hmmsearch_cath_funfams.sh
hmmsearch_cogs.sh
hmmsearch_pfams.sh
hmmsearch_smart.sh
hmmsearch_supfams.sh
hmmsearch_tigrfams.sh
mo.wdl
test
